.home-list-container{
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.home-list-item{
    width: 100%;
    height: 300px;
    padding: 0px 10px;
    font-size: 15px;
}
.home-list-img{
    width: 100%;
    height: calc(300px - 75px);
    object-fit: cover;
}
.home-list-ratings{
    height: 27px;
    display: flex;
    align-items: center;
}
.home-list-ratings span{
    padding: 2px;
    background-color: #003580;
    color: white;
}
@media only screen and (max-width: 768px) {
    .home-list-container{
      flex-direction: column;
      gap: 5px;
    }
    .home-list-item{
        text-align: center;
    }
    .home-list-ratings{
        display: flex;
        justify-content: center;
    }
  }