.navbar-container {
  background-color: #003580;
  height: 90px;
  display: flex;
  padding: 0px 80px;
}
.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
  color: white;
}
.navbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar-btn {
  font-size: 15px;
  font-weight: bold;
  width: 80px;
  padding: 8px;
  margin-left: 15px;
  color: #003580;
  cursor: pointer;
  border: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
@media only screen and (max-width: 768px) {
  .navbar-container {
    padding: 0px 30px;
  }
  .navbar-btn {
    width: 55px;
    font-size: 12px;
  }
  .navbar-left h1 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1440px) {
  .navbar-container {
    padding: 0px 200px;
  }
}
