.featured-container{
  width: 100%;
  text-align: center;
}
.featured-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.featured-item {
  position: relative;
  width: 100%;
  height: 250px;
  padding: 0px 10px;
}
.featured-img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-titles {
  width: calc(100% - 20px);
  position: absolute;
  color: white;
  bottom: 20px;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .featured-wrapper{
    flex-direction: column;
    gap: 5px;
  }
}
