.reservation-options-container {
  width: 180px;
  position: absolute;
  top: 43px;
  background-color: white;
  color: gray;
  box-shadow: 0px 0px 5px 3px darkgray;
  z-index: 2;
}
.reservation-option-item {
  margin-bottom: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.option-item-text {
  width: 40%;
}
.option-item-counter {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.counter-btn {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 1px solid #0071c2;
}
.counter-number {
  padding: 0px 5px;
}
