.list-container {
  width: 100%;
  margin-top: 20px;
  padding: 0px 100px;
}
.list-wrapper {
  width: 100%;
  display: flex;
}
.list-result {
  width: calc(100% - 33%);
  max-width: 900px;
}
@media only screen and (max-width: 767px) {
  .list-container {
    padding: 0px 10px;
  }
  .list-result {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .list-container {
    padding: 0px 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .list-container {
    padding: 0px 0px;
  }
  .list-wrapper {
    justify-content: center;
    gap: 80px;
  }
}
